{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block body %}

    <h1>
        Enregistrement de l'arène
    </h1>
    <form action="{{url}}?c=arena&t=update&id={{ arena.id }}" method="post" enctype="multipart/form-data">
        <label for="nom">Nom :</label>

        <input type="hidden" id="name" name="name" value="{{ arena.id }}"><br>

        <input type="text" id="name" name="name" value="{{ arena.name }}"><br>

        <label for="city">Ville :</label>
        <input type="text" id="city" name="city" value="{{ arena.city }}"><br>

        <label for="place">Age :</label>
        <input id="place" name="place" value="{{ arena.place }}"><br>

        <label for="photo">Avatar :</label>
        <input type="file" id="photo" name="photo" value="{{ arena.icon }}"><br>

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}
