{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block body %}

    <h1>
        Enregistrement de l'utilisateur
    </h1>
    <form action="{{url}}?c=user&t=update&id={{ user.id }}" method="post" enctype="multipart/form-data">
        <label for="nom">Nom :</label>

        <input type="hidden" id="name" name="name" value="{{ user.id }}"><br>

        <input type="text" id="name" name="name" value="{{ user.name }}"><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="surname" name="surname" value="{{ user.surname }}"><br>

        <label for="age">Age :</label>
        <input id="age" name="age" value="{{ user.age }}"><br>

        <label for="avatar">Avatar :</label>
        <input type="file" id="avatar" name="avatar" value="{{ user.avatar }}"><br>

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}
