{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block body %}

    <h1>
        Enregistrement de l'utilisateur
    </h1>
    <form action="?c=user&t=update" method="post" enctype="multipart/form-data">
        <label for="nom">Nom :</label>
        <input type="text" id="name" name="name" required><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="surname" name="surname" required><br>

        <label for="age">Age :</label>
        <input id="age" name="age" required><br>

        <label for="avatar">Avatar :</label>
        <input type="file" id="avatar" name="avatar" required><br>

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}
