{% extends 'base.html' %}

{% block content %}
    <table id="table_combattants" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Nationalité</th>
            </tr>
        </thead>
        <tbody>
            {% for combattant in combattants %}
                <tr>
                    <td>{{ combattant.id }}</td>
                    <td>{{ combattant.name }}</td>
                    <td>{{ combattant.age }}</td>
                    <td>{{ combattant.nationalite_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
